{
 :paths ["src"]
 :deps {
        org.clojure/clojure    { :mvn/version "1.11.1" }
        org.clojure/core.async { :mvn/version "1.5.648" }

        net.bis5.mattermost4j/mattermost4j-core { :mvn/version "0.24.0" }

        org.fudo/fudo-clojure {
                               ;; :local/root "/nix/store/afrgn7xsiglgfghnfqbba22yq3hc41a6-fudo-clojure-0.1-standalone.jar"
                               :git/url "https://git.fudo.org/fudo-public/fudo-clojure.git"
                               :sha "2d9303f55f7eac9c2f8989e9a0dde3dc97811220"
                               }

        io.github.clojure/tools.build {
                                       :git/url "https://github.com/clojure/tools.build.git"
                                       :sha "ba1a2bf421838802e7bdefc541b41f57582e53b6"
                                       }
        }
 :aliases {
           :test {
                  :extra-paths ["test"]
                  :extra-deps {
                               io.github.cognitect-labs/test-runner
                               {
                                :git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "e1e292d8332eb7167e402ecb22f36f1443ba85e6"
                                }
                               }
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test
                  }
           :build { :default-ns build }
           }
 }
