{
 :paths ["src"]
 :deps {
        org.clojure/clojure    { :mvn/version "1.11.1" }
        org.clojure/core.async { :mvn/version "1.5.648" }

        net.bis5.mattermost4j/mattermost4j-core { :mvn/version "0.24.0" }

        org.fudo/fudo-clojure {
                               :git/url "https://git.fudo.org/fudo-public/fudo-clojure.git"
                               :sha "9775e301714b785c27b23664b0d89e379bdca27e"
                               }
        }
 :aliases {
           :test {
                  :extra-paths ["test"]
                  :extra-deps {
                               io.github.cognitect-labs/test-runner
                               {
                                :git/url "https://github.com/cognitect-labs/test-runner.git"
                                :sha "dfb30dd6605cb6c0efc275e1df1736f6e90d4d73"
                                }
                               }
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test
                  }
           :build { :default-ns build }
           }
 }
